body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: min-content;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "ITCTetraW01-Bold";
  src: url("./fonts/@font-face/612a2dea045a4d6592cf8c8d16d1d49a.eot");
  src: url("./fonts/@font-face/612a2dea045a4d6592cf8c8d16d1d49a.woff2")
      format("woff2"),
    url("./fonts/@font-face/612a2dea045a4d6592cf8c8d16d1d49a.woff")
      format("woff"),
    url("./fonts/@font-face/612a2dea045a4d6592cf8c8d16d1d49a.ttf")
      format("truetype"),
    url("./fonts/@font-face/612a2dea045a4d6592cf8c8d16d1d49a.svg") format("svg");
}
